<% layout('layout') %>

<section class="paddingInline20 paddingBlock0 justifyBetween">
    <p class="rem3 str400">Settings & About Us</p>
</section>

<div class="height0 gap20 padding20">
    <div class="h220 shadow1 corner20 col padding30 abstractBG1 bgShade9 alignStart justifyBetween relative">
        <a href="" class="nav cnav absolute bottom5 right5 opacity05 scale4 disabled"><i class="fas fa-phone"></i></a>
        <article class="col">
            <p class="rem22 str400">Contact Information</p>
            <p class="size14 str400"> Update contact number and email displayed on the system.</p>
        </article>
        <a href="/cnt" class="nav">Update <i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="h220 shadow1 corner20 col padding30 abstractBG1 bgShade7 alignStart justifyBetween relative">
        <a href="" class="nav cnav absolute bottom5 right5 opacity05 scale4 disabled"><i class="fas fa-file"></i></a>
        <article class="col">
            <p class="rem22 str400">Documents</p>
            <p class="size14 str400"> Update document types, pricing, and processing days.  
            All changes will apply to the request system.</p>
        </article>
        <a href="/dcc" class="nav">Manage Now <i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="h220 shadow1 corner20 col padding30 abstractBG1 bgViolet alignStart justifyBetween relative hidden">
        <a href="" class="nav cnav absolute bottom5 right5 opacity05 scale4 disabled"><i class="fas fa-file"></i></a>
        <article class="col">
            <p class="rem22 str400">System Logo</p>
            <p class="size14 str400"> Upload or change your system's official logo.</p>
        </article>
        <a href="/dcc" class="nav">Upload <i class="fas fa-chevron-right"></i></a>
    </div>
</div>