<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <title><%= title %></title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="sidef">
        <div class="height15 geo corner15">
            <img src="/images/logo.png" alt="" class="h75">
        </div>
        <div class="menu height75">
            <a href="" class="nav mnav">Dashboard</a>
            <a href="" class="nav mnav">Transactions</a>
            <a href="" class="nav mnav">Reconciliation</a>
            <a href="" class="nav mnav">Reports</a>
        </div>
        <div class="height10 corner15 justifyBetween alignEnd">
            <a href="/" class="nav glass width100 borderWhite">Log Out<i class="fas fa-sign-out"></i></a>
        </div>
    </div>
    <div class="mainf"></div>
    
</body>
</html>