<% layout('design') %>

<style>
  @media (max-width: 900px) {
    .wcT {
      display: none;
    }
    .login {
      flex-direction: column;
      div {
        padding-bottom: 0;
        width: 100%;
        img {
          width: 10%;
        }
      }
      form {
        width: 100%;
        padding-top: 0;
      }
    }
    #melt {
      width: 100% !important;
    }
    #warningIcon {
      width: 80px;
      height: 80px;
    }
  }
  
</style>

<div class="height0 padding20 justifyStart"><a href="/" class="nav liquid"><i class="fas fa-chevron-left"></i> Go Back to Login</a></div>

<div class="height0 bgWhite cornerRem2 login colorPrimary width90" id="melt">
  <br>
  <form action="/fg" method="POST" class="colorPrimary gap10 width100">
    <%- include('icons/password') %>
    
    <div class="height0 col">
        <% if (error) { %>
            <p class="rem2 str500 textCenter textWrap">Forgot Password</p>
            <span style="color: red;" class="bgRed100 marginTop10"><%= error %></span>
        <% } else { %>
            <p class="rem2 str500 textCenter textWrap">Forgot Password</p>
        <% } %>
    </div>
    <div class="field">
      <label for="">Email</label>
      <input type="text" name="email">
    </div>

    <div class="justifyBetween">
      <input type="text" id="num1" class="width20 textCenter" readonly>
      <div class="width10 textCenter str500" style="width: 10%;"><i class="fas fa-plus"></i></div>
      <input type="text" id="num2" class="width20 textCenter" readonly>
      <div class="width10 textCenter str500" style="width: 10%;"><i class="fas fa-equals"></i></div>
      <input type="text" id="answer" class="width20 textCenter str500" required>
      <div class="height0 width20 gap5 justifyEnd" style="width: 20%;">
        <a href="#" class="nav cnav" id="reset"><i class="fas fa-rotate"></i></a>
      </div>
    </div>

    <div class="bgRed100 hidden" id="warning20">Please fill the correct value!</div>

    <div class="height0 bgBlue100 textCenter">
        This can't be undone! You temporary password will be sent to your School Email
    </div>
    <div class="field padding5">
      <button type="submit" class="nav pnav width100">Submit</button>
    </div>
  </form>
</div>

<br><br><br>  <script>
  function generateRandomNumbers() {
    const num1 = Math.floor(Math.random() * 10) + 1; // 1-10
    const num2 = Math.floor(Math.random() * 10) + 1;
    document.getElementById('num1').value = num1;
    document.getElementById('num2').value = num2;
    const answerInput = document.getElementById('answer');
    answerInput.value = '';
    answerInput.style.color = 'black';
    answerInput.style.fontWeight = 'bold';
    answerInput.dataset.correct = num1 + num2;

    // Hide warning on reset
    document.getElementById('warning20').classList.add('hidden');
  }

  // Check answer on input
  document.getElementById('answer').addEventListener('input', function() {
    // Only allow numbers
    this.value = this.value.replace(/[^0-9]/g, '');
    
    const correct = Number(this.dataset.correct);
    const user = Number(this.value);
    const warning = document.getElementById('warning20');
    
    if (this.value === '') {
      this.style.color = 'black';
      warning.classList.add('hidden');
    } else if (user === correct) {
      this.style.color = 'blue';
      warning.classList.add('hidden');
    } else {
      this.style.color = 'red';
      warning.classList.remove('hidden');
    }
  });

  // Reset numbers
  document.getElementById('reset').addEventListener('click', function(e) {
    e.preventDefault();
    generateRandomNumbers();
  });

  // Initialize
  generateRandomNumbers();
  </script>

  <script>
    const submitBtn = document.querySelector("button[type='submit']");

document.getElementById('answer').addEventListener('input', function () {
    const correct = Number(this.dataset.correct);
    const user = Number(this.value);

    if (user === correct) {
        submitBtn.disabled = false;
        submitBtn.classList.remove("disabled");
    } else {
        submitBtn.disabled = true;
        submitBtn.classList.add("disabled");
    }
});

// Disable initially
submitBtn.disabled = true;
submitBtn.classList.add("disabled");

  </script>