<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <title><%= title %></title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/style.css">
    <style>
        @media (max-width:700px) {
            body {
                display: block;
                overflow-y: auto;
            }
            .panel {
                height: auto !important;
                width: 100%;
                justify-content: center;
                align-items: center !important;
            }
            .panel.right {
                margin-bottom: 50px;
            }
            .e {
                font-size: 24px;
            }
            .f {
                margin-top: -10px !important;
            }
            form {
                width: 100% !important;
            }
        }
    </style>
</head>
<body class="polaroid">

    <section class="width60 col panel">
        <img src="/images/logo.png" alt="" class="hpx200">
        <p class="e size60">Web-Based Bank</p>
        <p class="e f size60 marginTop40n">Reconciliation System</p>
    </section>
    <section class="width40 justifyStart panel right">
        <form action="/login" method="POST" class="width80 shadow2 height0 gap15 corner20">
            <div class="height0 col gap5">
                <% if (error) { %>
                <p class="size26 colorPrimary str500">Welcome Admin</p>
                <span style="color: red;" class="noteRed"><%= error %></span>
                <% } else { %>
                <p class="size30 colorPrimary str500">Welcome Admin</p>
                <% } %>
            </div>
            <div class="field">
                <label for="">Username</label>
                <input type="text" name="username" placeholder="Enter your username">
            </div>
            <div class="field password">
                <label for="">Password</label>
                <input type="password" id="password" name="password" required placeholder="Enter your password">
                <span class="showPass" id="showPass" style="cursor: pointer;">show</span>
            </div>
            <div class="field">
                <button type="submit" class="nav bgRed700 width100 white">Login</button>
            </div>
            <a href="">Forgot Password</a>
        </form>
    </section>

    <script src="/script/showPassword.js"></script>

</body>
</html>