<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>


    <title><%= title %></title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/style.css">
    <style>
        th {
            box-shadow: none !important;
            border: 0.5px solid rgb(195, 195, 195);
        }
    </style>
</head>
<body>

    <div class="sidef">
        <div class="height15 geo corner15">
            <img src="/images/logo.png" alt="" class="hpx75">
        </div>
        <div class="menu height70">
            <p class="size14">Menu</p>
            <hr class="marginBottom5">
            <a href="/rec" class="nav mnav <% if ( active === 'rec') { %> active liquid <% } %>">Reconciliation</a>
            <a href="/trs" class="nav mnav <% if ( active === 'trs') { %> active liquid <% } %>">Book</a>
            <a href="/bnk" class="nav mnav <% if ( active === 'bnk') { %> active liquid <% } %>">Bank</a>
            <a href="/out" class="nav mnav <% if ( active === 'out') { %> active liquid <% } %>">Outstanding</a>

            <a href="/dep" class="hidden nav mnav <% if ( active === 'dep') { %> active liquid <% } %>">Deposit</a>
            <a href="/rpt" class="hidden nav mnav <% if ( active === 'rpt') { %> active liquid <% } %>">Reports</a>
            <a href="/dsb" class="hidden nav mnav <% if ( active === 'dsb') { %> active liquid <% } %>">Dashboard</a>
        </div>
        <div class="menu height15 justifyEnd">
            <a href="/prf" class="nav mnav liquid width100<% if ( active === '') { %> active liquid <% } %>"><i class="fas fa-user"></i>Profile</a>
            <a href="/" class="nav mnav liquid width100 <% if ( active === '') { %> active liquid <% } %>"><i class="fas fa-sign-out"></i> Logout</a>
        </div>
        <div class="height10 justifyBetween alignEnd hidden">
            <a href="/" class="nav glass width100 borderWhite corner10">Log Out<i class="fas fa-sign-out"></i></a>
        </div>
    </div>
    <div class="mainf">
        <%- body %>
    </div> 

    <script src="/js/selectBar.js"></script>

    
</body>
</html>