
<div class="height0 width0 corner500 borderGray bgWhite relative h100 w105" id="bellIcon">
    <i class="fas fa-star size15 absolute yellow h20 w20" style="transform: rotate(-15deg); left: 8%;"></i>
    <i class="fas fa-bell size60 absolute blue h65 w65" style="transform: rotate(-25deg); right: 5%;"></i>
    <i class="fas fa-star size25 absolute yellow h30 w30" style="transform: rotate(5deg); left: 14%; bottom: 15%;"></i>
</div>