
<div class="height0 width0 corner500 bgRed100 relative h80 w80" id="dangerIcon">
    <i class="fas fa-exclamation-triangle size45 absolute h50 w50" style="transform: rotate(10deg); right: 8%; bottom: 15%;"></i>
    <i class="fas fa-bell size15 absolute h20 w20" style="transform: rotate(-20deg); left: 10%;"></i>
    <i class="fas fa-bell size15 absolute h20 w20" style="transform: rotate(-2deg); left: 25%; top: 23%;"></i>
</div>