
<div class="height0 width0 corner500 borderGray relative h100 w105" id="successIcon">
    <i class="fas fa-frown size15 absolute gray h20 w20" style="transform: rotate(-15deg); left: 8%; top: 28%;"></i>
    <i class="fas fa-inbox size60 absolute gray h65 w65" style="transform: rotate(-25deg); right: 5%;"></i>
    <i class="fas fa-question-circle size25 absolute darkGray h30 w30" style="transform: rotate(5deg); left: 7%; top: 45%;"></i>
</div>