
<div class="height0 width0 corner500 borderYellow bgWhite relative h90 w92" id="successIcon">
    <i class="fas fa-share size20 absolute yellow h40 w40" style="transform: rotate(-30deg); left: 16%; top: 5%;"></i>
    <i class="fas fa-share-square size50 absolute yellow h55 w56 marginLeft5" style="transform: rotate(-30deg);"></i>
</div>