

<i class="fas fa-frown size80 h100 w102 porcelain corner500 marginBottom10" style="transform: rotate(-15deg); color: rgba(139, 138, 138, 0.51) !important;"></i>

<!-- 
<div class="height0 width0 corner500 borderGray bgWhite relative h100 w105" id="successIcon">
    <i class="fas fa-question-circle size15 absolute yellow h20 w20" style="transform: rotate(-15deg); left: 10%;"></i>
    <i class="fas fa-frown size60 absolute yellow h65 w65" style="transform: rotate(-15deg); right: 5%;"></i>
    <i class="fas fa-question-circle size25 absolute yellow h30 w30" style="transform: rotate(5deg); left: 10%; bottom: 15%;"></i>
</div>
-->