
<div class="height0 width0 corner500 borderGray bgWhite relative h80 w80" id="warningIcon">
    <i class="fas fa-key size45 absolute yellow h50 w50" style="transform: rotate(5deg); right: 8%; bottom: 15%;"></i>
    <i class="fas fa-star size15 absolute yellow h20 w20" style="transform: rotate(-20deg); left: 10%;"></i>
    <i class="fas fa-star size15 absolute yellow h20 w20" style="transform: rotate(-2deg); left: 25%; top: 23%;"></i>
</div>