
<div class="height0 width0 corner500 borderPrimary relative h100 w105" id="successIcon">
    <i class="fas fa-star size15 absolute yellow h20 w20" style="transform: rotate(-15deg); left: 5%;"></i>
    <i class="fas fa-thumbs-up size60 absolute h65 w65" style="transform: rotate(-15deg); right: 5%;"></i>
    <i class="fas fa-star size25 absolute yellow h30 w30" style="transform: rotate(5deg); left: 10%; bottom: 15%;"></i>
</div>